@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-peek {
  animation: peek 1s infinite;
}

@media (min-width: 425px) {
  .animation-text {
    width: 350px;
  }
}
@media (min-width: 375px) {
  .animation-text {
    width: 350px;
  }
}

@keyframes peek {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(0);
    opacity: 1;
  }
  95%,
  100% {
    transform: translateY(5px);
    opacity: 0;
  }
}
