@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  box-sizing: content-box;
  display: flex;
}

.words {
  overflow: hidden;
  height: 20px;
}

.words span {
  display: block;
  height: 100%;
  animation: 2s ease-in-out infinite spin_words;
}
